/*********************************************
* HOJA DE ESTILOS DE LA BIBLIOTECA
*
**********************************************

************** AJUSTES GENERALES ************/
html body {
  background-color: #d8d8d8;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

fonts {
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Roboto", sans-serif;
}

#particles-js {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}

.contenedor {
  width: 80%;
  max-width: 1000px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 20px 20px;
  position: relative;
  z-index: 80;
  opacity: 0.95;
}

.contenedor .header {
  height: calc(100h - 55px);
  border: 3px solid rgba(rgba(219, 0, 93));
}

/************** AJUSTES DE NAVBAR ************/

.navbar1 {
  -webkit-border-radius: 20px;
  border-radius: 20px;
  font-family: "Mochiy Pop P One";
  font-size: 0.8m;
  display: flex;
  text-align: center;
  justify-content: center;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #212529;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  font-size: 0.75rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 700;
}
#mainNav .navbar-brand {
  color: #ecdd0d;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}
#mainNav .navbar-brand img {
  height: 1.5rem;
}
#mainNav .navbar-nav .nav-item .nav-link {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.95rem;
  color: #fff;
  letter-spacing: 0.0625em;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #1cf100;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
  }
  #mainNav .navbar-brand img {
    height: 2rem;
    transition: height 0.3s ease-in-out;
  }
  #mainNav.navbar-shrink {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
  }
  #mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 1.5rem;
  }
  #mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
  }
  #mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
  }
}


/**********************************************
* INDEX
* PAGINA DE INICIO DE SECON DE LOS USUARIOS
*
**********************************************/
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; color: #848484; text-align:center;;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/**********************************************
* INDEX
* PAGINA PRINCIPAL DE LA BIBLIOTECA
*
**********************************************/

.div1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.divT {
  text-align: center;
  justify-content: center;
}

.h1 {
  font-family: "Roboto";
  padding: 20px;
  display: inline-block;
  color: #000000;
  font-size: 1.5em;
}

.texto1 {
  font-family: "Roboto";
  padding: 20px;
  display: inline-block;
  color: #ffffff;
  font-size: 1.5em;
}

.texto1::first-letter {
  color: #ff0000;
  font-size: 2em;
}

.divtex {
  align-items: center;
  min-height: 6.25rem;
  background-color: rgb(0, 129, 180);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.img1 {
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.div2 {
  justify-content: center;
  display: flex;
  margin: 5px;
  padding: 0px;
}

.img2 {
  width: 100%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/*********************************************
* SYSTEM
* AREA DE LAS APLICACIONES
*
**********************************************


*********TABLAS DE LOS FORULARIOS*************************
*/

.div-table {
  text-align: center;
  background-color: #009670;
  justify-content: center;
  padding: 1rem;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}

.table {
  font-family: "Mochiy Pop P One";
  background-color: #00b6ce;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/***************TABLA DE LA PARTE DE VIEW*********************/
.thed {
  background: rgba(0, 217, 255, 0.822);
  border: 1px;
}

.divs {
  display: flex;
  align-items: center;
  min-height: 6.25rem;
  padding: 1rem;
}

#tr,
#th {
  text-align: left;
  width: 50%;
  vertical-align: top;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#girls {
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.girls:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.animacionLogo {
  animation-duration: 5s;
  animation-name: animLogo;
  animation-iteration-count: infinite;
}
@keyframes animLogo{
  from {
      -webkit-transform: rotate(0deg);
      transform: rotateY(0deg);
  }
  50%{
      -webkit-transform: rotate(180deg);
      transform: rotateY(180deg);
  } to {
      -webkit-transform: rotate(360deg);
      transform: rotateY(360deg);
      }
}

/*********************************************
* USERS
* AREA DE LOS USUARIOS
*
**********************************************


*********TABLAS DE CONSULTA************************
*/
#portfolio .portfolio-item {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
}
#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 238, 255, 0.9);
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 1.25rem;
  color: white;
}
#portfolio .portfolio-item .portfolio-link:hover .portfolio-hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-caption {
  padding: 1.5rem;
  text-align: center;
  background-color: #fff;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-heading {
  font-size: 1.5rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  margin-bottom: 0;
}
#portfolio .portfolio-item .portfolio-caption .portfolio-caption-subheading {
  font-style: italic;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}
.portfolio-modal .modal-content {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
}
.portfolio-modal .modal-content h2, .portfolio-modal .modal-content .h2 {
  font-size: 3rem;
  line-height: 3rem;
}
.portfolio-modal .modal-content p.item-intro {
  font-style: italic;
  margin-bottom: 2rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.portfolio-modal .modal-content p {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 2rem;
}
.portfolio-modal .modal-content img {
  margin-bottom: 2rem;
}
.portfolio-modal .close-modal {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

/*********************************************
* 
* AREA  DE LA REPRESENTACION DE LOS PDF´S
*
**********************************************/

.divframe {
  text-align: center;
  justify-content: center;
}

.frame {
  height: 700px;
  width: 1200px;
}

/************IMAGENES DE LOS PDF***************/
.section1 {
  margin: 1rem auto;
  width: 100%;
  max-width: 960px;
  column-count: 2;
}

article {
  background: #6affdf;
  border-radius: 8px;
  border: 5px solid #5d51ff;
  margin: 0 0 20px 0;
  text-align: center;
  max-width: 100%;
  break-inside: avoid;
  page-break-inside: avoid;
}

article img {
  width: 100%;
  overflow: hidden;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  filter: blur(2px);
}

article img:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  filter: blur(0px);
}

article:hover {
  transition: 0.10s ease;
  filter: blur(0px);
}

figure {
  padding: 1rem;
  box-sizing: border-box;
}

figcaption {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1em;
}

/*********************************************
* 
* AREA  DEL FOOTER
*
**********************************************/


.copyright {
  background-color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
}

.texto_copy {
  padding: 20px;
  display: inline-block;
  color: #ffffff;
}
